<template name = "matchEditPremilnary">
	<div class= "row">
		<div class="col-md-10 col-xs-10">
			<form class="form-horizontal match-edit-form">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="premilnaryMode">初赛模式</label>
					<div class="col-sm-3">
						<select class="form-control-label" id="premilnaryNode">
							<option>6进1</option>
							<option>6进2</option>
							<option>5进1</option>
							<option>5进2</option>
						</select>	
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">模式说明</label>
					<div class="col-sm-8 col-md-8">
						<textarea class="form-control" readonly="readonly" rows="4">Option two is disabled</textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>